# Entorno virtual
env/
Env/
ENV/
.venv/
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de base de datos
*.sqlite3

# Archivos de configuración de VSCode
.vscode/

# Archivos de logs
*.log
logs/*.log
logs/*.log.*

# Carpeta de archivos estáticos de producción
staticfiles/

# Archivos de migraciones de Django (opcional, si quieres ignorar)
# */migrations/*.py
# */migrations/*.pyc

# Otros archivos del sistema
.DS_Store
Thumbs.db

# Archivo de variables de entorno
.env 

# Archivos de credenciales de Google (OAuth y Service Account)
credentials/*.json
notificaciones/services/*.json

*.pyc

# Historial de cambios
Historial/
