{% extends "base_centered.html" %}

{% block title %}Nueva Contraseña{% endblock %}

{% block content %}
<div class="card card-login p-4" style="max-width: 450px; width: 100%;">
  <div class="card-body">
    <h1 class="card-title h3 mb-4 text-center">Ingresá tu nueva contraseña</h1>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_new_password1" class="form-label">Nueva contraseña</label>
          <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control">
        </div>
        <div class="mb-4">
          <label for="id_new_password2" class="form-label">Confirmar nueva contraseña</label>
          <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-violeta-outline btn-lg">Cambiar contraseña</button>
        </div>
      </form>
    {% else %}
      <p class="text-center text-danger">
        El enlace para restablecer la contraseña no es válido, posiblemente porque ya ha sido utilizado o ha expirado.
      </p>
      <div class="d-grid mt-4">
        <a href="{% url 'password_reset' %}" class="btn btn-violeta-outline">Solicitar un nuevo enlace</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

