{% extends "base_centered.html" %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="card card-login p-4" style="max-width: 450px; width: 100%;">
  <div class="card-body">
    <h1 class="card-title h3 mb-3 text-center">Restablecer Contraseña</h1>
    <p class="card-text text-center small mb-4">
      Ingresá tu dirección de email y te enviaremos las instrucciones para restablecer tu contraseña.
    </p>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        <input type="email" name="email" autocomplete="email" required id="id_email" class="form-control">
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-violeta-outline btn-lg">Enviar instrucciones</button>
      </div>
    </form>
    <hr>
    <p class="text-center mb-0">
      <a href="/login/">Volver a Iniciar Sesión</a>
    </p>
  </div>
</div>
{% endblock %}
