<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Agregar Planta</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/variables.css' %}">

  <link rel="icon" type="image/png" href="{% static 'assets/img/icono.png' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="manifest" href="{% static 'manifest.json' %}">
</head>
<body>
  <nav class="navbar mb-4">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Contenedor del logo con posicionamiento relativo -->
    <div style="position: relative; height: 30px;">
      <!-- El logo se posiciona absolutamente, permitiendo que se desborde sin afectar la altura del nav -->
      <img src="{% static 'assets/img/RIEGUMICONO.png' %}" alt="Logo Riegum" style="position: absolute; top: 50%; transform: translateY(-50%); width: 150px; height: auto;">
    </div>

    <div class="dropdown">
      <button class="btn btn-violeta-outline dropdown-toggle d-flex align-items-center" type="button" id="menuUsuario" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle me-2"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuUsuario"><li class="li-animado"><a class="dropdown-item" id="btnLogout" href="javascript:void(0);"><i class="bi bi-box-arrow-right me-2"></i>Cerrar sesión</a></li></ul>
    </div>
  </div>
</nav>
  
  <div class="container py-4">
    <div class="position-relative mb-4">
      <button id="btn-volver" class="btn btn-white-outline position-absolute start-0" >← Volver</button>
      <h2 class="text-center m-0 fw-bold">Agregar Planta</h2>
    </div>

    <form id="form-agregar-planta">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre<span style="color: red"> *</span></label>
        <input type="text" class="form-control" id="nombre" required />
      </div>
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo<span style="color: red"> *</span></label>
        <select class="form-select" id="tipo" type="text" required>
          <option value="">Seleccionar</option>
          <option value="Auto">Autofloreciente</option>
          <option value="Foto">Fotoperiódica</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="tamano" class="form-label">Tamaño de la planta<span style="color: red"> *</span></label>
        <select class="form-select" id="tamano" type="text" required>
          <option value="">Seleccionar</option>
          <option value="Pequeña">Pequeña</option>
          <option value="Mediana">Mediana</option>
          <option value="Grande">Grande</option>
        </select>
      </div>

      <div class="mb-3">
      <label for="maceta" class="form-label">Tamaño de la maceta en litros<span style="color: red"> *</span></label>
      <input type="number" class="form-control" id="maceta" name="maceta" placeholder="Ej: 5" required/>
      </div>

      <input class="form-check-input" type="checkbox" id="enFloracion" name="enFloracion">
      <label class="form-check-label" for="enFloracion" style="padding-bottom: 20px;">¿Está en floración?</label>


      <div class="mb-3">
        <label for="ultimo_riego" class="form-label">Último riego<span style="color: red"> *</span></label>
        <input type="date" class="form-control" id="ultimo_riego" required />
      </div>

      <div id="toast-container" class="position-fixed start-50 translate-middle-x p-3" style="top: 7rem; z-index: 9999">
        <div id="toast" class="toast fade align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body" id="toast-body"></div>          
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-violeta-hover-verde">Guardar planta</button>   
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  {% load static %}
  <script type="module" src="{% static 'js/api.js' %}"></script>
  <script type="module" src="{% static 'js/add.js' %}" defer></script>
</body>
</html>
